<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Demo JEA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <img src="../static/images/tux820x645.jpg" width="1000"
                 th:src="@{images/tux820x645.jpg}"/>
        <h2>Esta es una aplicación realizada para examen de selección de Banco Galicia</h2>
        </div>
    </div>
</body>
</html>